# .gitignore - jigglesoft-microchip-pic-asm-libs

# Temporary files
*.*~
tmp/

# MPLAB X Projects
**/*.X/nbproject/Makefile-*
**/*.X/nbproject/Package-*
**/*.X/nbproject/private/
**/*.X/build/
**/*.X/dist/

/jgl-xc8-pic-as-lang/MPLABXProjects/jgl-xc8-pic-as-lang.X/build/
/jgl-xc8-pic-as-lang/MPLABXProjects/jgl-xc8-pic-as-lang.X/dist/